//
// Jumbotron
//

    body:not(.storefront) .jumbotron {
        .hidden();
    }

    .storefront .jumbotron {
        & {
            position: relative;
            background-image: url('http://lorempixel.com/800/600/food/');
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            color: white;
            overflow: hidden;
            height: 70%;
        }
        &-screen {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            .add-alpha(background-color, black, 0.5);
            .blur(5px);
        }
        &-content-wrap {
            position: relative;
            display: table;
            top: 0;
            height: 100%;

            @media screen and (max-width: @screen-sm) {
                width: 100%;
            }
        }
        &-content {
            position: relative;
            display: table-cell;
            //text-align: center;
            vertical-align: middle;
            margin-top: 70px;
            margin-bottom: 70px;
            z-index: 1;
        }
    }
