//
// Base Styles
//

    html,
    body {
        height: 100%;
    }

    ::selection {
        background-color: lighten(@brand-primary, 30%);
    }
    ::-moz-selection {
        background-color: lighten(@brand-primary, 30%);
    }

    // Search
    button,
    input[type="search"],
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
      -webkit-appearance: none !important; // removes rounded corners for searchfields on iOS
    }

    .page {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .page .container {
        margin-top: 70px;
        padding-bottom: 20px;
        min-height: 50%;

        .storefront & {
            margin-top: 0;
        }
        body:not(.storefront) &.main {
            margin-top: 160px;
        }
    }
