//
// Catalog
//

    .page .container {
        margin-top: 70px;
        padding-bottom: 20px;

        .storefront & {
            margin-top: 0;
        }
        body:not(.storefront) &.main {
            margin-top: 160px;
        }
    }

    .catalog {
        .catalog-item {
            height: 200px;
            .transition(all 0.5s ease);

            &:hover,
            &:focus {
                background-color: lighten(@brand-primary, 20%);
                border-color: @brand-primary;
                color: white;
            }
            a {
                color: inherit;
            }
            a:hover,
            a:focus {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .storefront .page-header {
        small {
            margin-left: 10px;
        }
        .catalog-btn {
            margin-top: -10px;
            margin-left: 10px;
        }
    }
